@import url('https://fonts.googleapis.com/css?family=Roboto');

.content {
	color: #2c3e50;
	font-family: 'Georgia';
  position:absolute;
  top:40%;
  left:50%;
  padding:15px;
  transform: translate(-50%,-50%);
}


.words {
	white-space: pre-wrap;
	overflow: hidden;
}

.list {
	font-size: 32px;
	border: 0px none #bdc3c7;
	border-radius: 5px;
	white-space: pre-wrap;
	width: 920px;
	overflow: hidden;
	height: 100px;
}

.text-center {
  text-align: center;
}

.text-correct {
	color: #16a085;
}

.text-current, .text-incorrect {
	border: 0 solid #bdc3c7;
	border-radius: 5px;
	background-color: #95a5a6;
	margin: 0;
	padding: 0;
}

.text-incorrect {
	color: white;
	background-color: #e74c3c;
}

.text-current {
	border-radius: 5px;
	background-color: #95a5a6;
}

.textInput {
	padding: 0 10px;
	height: 50px;
	width: 400px;
	font-size: 32px;
	border-radius: 50px;
	border: 2px solid #7f8c8d;
	background-color: white;
	transition: border-color 0.5s;
	font-family: Roboto;
	text-align: center;
}

.textInput:focus {
	outline: none;
	border-color: #2980b9;
}

.text-wpm {
	margin-top: 32px;
	font-size: 32px;
}