@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500');
body {
  overflow: hidden;
  background-color: #f5f6fa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}


/* main */

.content {
  color: #2c3e50;
  font-family: "Georgia";
  position: absolute;
  top: 15%;
  left: 50%;
  padding: 15px;
  transform: translate(-50%, -50%);
  max-height: 1vh;
}

.words {
  white-space: pre-wrap;
  overflow: hidden;
  border-radius: 5px;
}

.list {
  font-size: 32px;
  border: 0px none #bdc3c7;
  border-radius: 5px;
  white-space: pre-wrap;
  width: 920px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  user-select: none;
}

.text-center {
  text-align: center;
}

.text-correct {
  color: #16a085;
}

.text-current,
.text-incorrect {
  border: 0 solid #bdc3c7;
  background-color: #95a5a6;
  margin: 0;
  padding: 0;

}

.text-incorrect {
  color: white;
  background-color: #c0392b;

}

.text-current {
  background-color: #acbcbd;
}

.words span {
  border-radius: 5px;
}

.author {
  float: right;
  margin-right: 25px;
  font-style: italic;
}

.quote {
  height: 120px;
  margin-bottom: 50px;
  margin-top: 75px;
}

.textInput {
  padding: 0 10px;
  height: 50px;
  width: 400px;
  font-size: 32px;
  border-radius: 50px;
  border: 2px solid #7f8c8d;
  background-color: white;
  transition: border-color 0.2s;
  font-family: Roboto;
  text-align: center;
}
.textInput:focus {
  outline: none;
  border-color: #2980b9;
}

.mistake-true {
  color: white;
  border-color: white;
  background-color: #c0392b;
}

.mistake-true:focus {
  color: white;
  border-color: #c0392b;
  opacity: 0.9;
}
.text-wpm {
  margin-top: 32px;
  font-size: 48px;
  font-family: Roboto;
  font-weight: 400;
  text-align: center;
}

.literal-wpm {
  font-size: 24px;
  font-weight: 300;
}

::selection {
  background: #3498db;
}

.hide-true {
  display: none;
  transition: display 0.2s;
}

.section-container {
  margin: 0 5%;
}

.section-title {
  border-bottom: 1px solid #999c9e;
  font-family: Roboto;
  font-weight: 300;
  font-size: 32px;
  margin-top: 40px;
}

.section-title strong {
  font-weight: 400;
}

.pencil-icon {
  padding-left: 7px;
}

.input-name {
  font-size: inherit;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  width: auto;
  font-family: inherit;
  font-size: inherit;
}

.input-name:focus {
  outline: none;
}

.hidden-true {
  display: none;
}

.hidden-false {
  display: inline-block;
}

/* buttons */

.button {
	font-family: Roboto;
	font-weight: 300;
	margin-left: -100%;
	margin-right: 20px;
	padding: 10px 25px;
	font-size: 24px;
	border: 0 none #2980b9;
	border-radius: 50px;
	background-color: #3498db;
	color: #ecf0f1;
	display: inline;
	transition: background 0.2s;
	margin: auto;
}

.reset-button {
	margin-left: -100%;
	margin-right: 20px;
	padding: 10px 25px;
	float: right;
}

.continue {
	margin-top: 20%;
	padding: 15px 30px;
}


.button:hover {
	cursor: pointer;
	background: #2980b9;
}

.button:focus {
	outline: none;
}

/* navbar */

.navbar {
	padding-bottom: 72px;
	border-bottom: 1px none #bdc3c7;
}

.page-title {
	font-family: 'Quicksand';
	float: left;
	display: inline;
	margin-left: 2%;
	font-size: 48px;
	padding-top: 6px;
	color: #2c3e50;
}

.heading {
	float: right;
	margin-right: 30px;
	font-size: 18px;
	text-align: center;
  font-family: 'Quicksand';
  font-weight: 400;
	margin-top: 30px;
	color: #2c3e50;
  
  
}

.heading:hover {
		color: black;
}

a {
	text-decoration: none;
}

.profile-stats {
  margin-top: 50px;
  margin-right: 0.5%;
}

/* averages */



.average-title {
	text-align: right;
	padding: 0;
	margin:0;
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: 400;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.average-list {
  float:right;
	text-decoration: none;
	display: block;
	font-family: Roboto;
	font-size: 16px;
	width: 15%;
	color: #2c3e50;
	text-align: left;
	position: block;
	bottom: 4%;
	
} 

.item-time {
	text-align: right;
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: 400;
}

.item-time span {
	font-size: 60%;
	font-weight: 300;
}

.item-time em {
	font-weight: 300;
	font-style:normal;
}


.heading-wpm {
  font-family: 'Roboto';
	font-weight: 300;
	font-size: 24px;
	text-align: center;
	color: #2c3e50;
	position: absolute;
	top: 40%;
	left: 50%;
	padding: 15px;
	transform: translate(-50%, -50%);
}

.h1-wpm {
	font-size: 158px;
	display: block;
	margin: 0;
	padding: 0;
}

.heading-5-wpm {
	margin: 0;
	padding: 0;
}

.topScore-text {
	font-family: Roboto;
	font-weight: 300;
	font-size: 120%;
	position: absolute;
	top: 75%;
	left: 50%;
	padding: 15px;
	transform: translate(-50%, -50%);
}

.topScore-end {
	font-weight: 400;	
	font-style: normal;

}

.bottom-right {
  position: absolute;
	top: 350px;
	left: 24%;

	transform: translate(-50%, -50%);
}

.graph {
	height: 50%;
  width: 45%;
  max-height: 400px;
}

 @media only screen and (min-width: 1500px) {
  .h1-wpm {
    font-size: 256px;
    display: block;
    margin: 0;
    padding: 0;
  }
  
  .heading-5-wpm {
    font-size: 32px;
    margin: 0;
    padding: 0;
  }
  .continue {
    margin-top: 20%;
    padding: 20px 50px;
  }
  .topScore-text {
    font-size: 160%;
  }
  .page-title {
    font-size: 64px;
  }
  .heading {
    font-size: 28px;
  }
  .section-title {
    font-size: 42px;
  }
  .average-title {
    font-size: 42px;
  }
  .item-time {
    font-size: 33px;
  }
  
}