.countdown-div {
	color: #2c3e50;
	font-family: 'Roboto';
  position:absolute;
  top:30%;
  left:50%;
  transform: translate(-50%,-50%);
}

.countdown {
	font-size: 64px;
	background-color: #c0392b;
	padding: 10px 25px;
	border-radius: 20px;
}

.hidden-true {
	display: none;
}