@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

.heading-wpm {
	color: #2c3e50;
	font-family: 'Georgia';
	position: absolute;
	top: 40%;
	left: 50%;
	padding: 15px;
	transform: translate(-50%, -50%);
}

.heading-wpm {
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 24px;
	text-align: center;
}

.h1-wpm {
	font-size: 158px;
	display: block;
	margin: 0;
	padding: 0;
}

.heading-5-wpm {
	margin: 0;
	padding: 0;
}

.continue {
	margin-top: 20%;
	font-size: 24px;
	padding: 15px 30px;
	border: 0 none #000;
	background-color: #e67e22;
	color: #ecf0f1;
	border-radius: 50px;
	transition: background-color 0.2s;
}

.continue:focus {
	outline: none;
}

.continue:hover {
	cursor: pointer;
	background-color: #d35400;
}


.topScore-text {
	font-family: Roboto;
	font-weight: 300;
	font-size: 120%;
	position: absolute;
	top: 75%;
	left: 50%;
	padding: 15px;
	transform: translate(-50%, -50%);
}

.topScore-end {
	font-weight: 400;	
	font-style: normal;

}

.bottom-right {
	position: absolute;
	top: 74%;
	left: 83%;

	transform: translate(-50%, -50%);
}

.graph {
	height: 50%;
	width: 45%;
}