@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
.end-screen {
	color: #2c3e50;
	font-family: 'Georgia';
  position:absolute;
  top:45%;
  left:50%;
  padding:15px;
  transform: translate(-50%,-50%);
}

.heading-wpm {
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 24px;
	text-align: center;
}

.h1-wpm {
	font-size: 158px;
	display: block;
	margin: 0;
	padding: 0;
}

.heading-5-wpm {
	margin: 0;
	padding: 0;
}

.continue {
	margin-top: 30%;
	font-size: 24px;
	padding: 15px;
	border: 0 none #000;
	background-color: #e67e22;
	color: #ecf0f1;
}