.reset-button {
	font-family: Roboto;
	font-weight: 300;
	margin-left: -100%;
	margin-right: 20px;
	padding: 10px 25px;
	font-size: 24px;
	border: 0 none #2980b9;
	border-radius: 70px;
	background-color: #3498db;
	color: #ecf0f1;
	display: inline;
	transition: background 0.2s;
	float: right;
}

.reset-button:hover {
	cursor: pointer;
	background: #2980b9;
}

.reset-button:focus {
	outline: none;
}